h1{

    margin-bottom: 50px;
    border: 3px green dashed;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;


}

p{

border: 1px black solid;
margin-top:50px ;
padding: 10px;
margin-left: 5% ;
margin-right: 5%;
background-color: rgba(107, 255, 107, 0.678);

}
body{

    background-color: rgba(218, 255, 249, 0.664);
}