.box1 {
    display: block;
    background-color: rgb(145, 238, 238);
    height: 50px;
    border: 1px rgba(0, 0, 0, 0.5) solid;
    
}

.box2,
.box3,
.box4,
.box5 {

    width: 25%;
    display: inline-block;
    
    
}

.box2 {

    background-color: rgb(153, 238, 145);
    height: 50px;
    border: 1px rgba(0, 0, 0, 0.5) solid;

}
.box3 {

    background-color: rgb(173, 145, 238);
    height: 50px;
    border: 1px rgba(0, 0, 0, 0.5) solid;
}
.box4 {

    background-color: rgb(232, 238, 145);
    height: 50px;
    border: 1px rgba(0, 0, 0, 0.5) solid;
}
.box5 {

    background-color: rgb(247, 189, 163);
    height: 50px;
    border: 1px rgba(0, 0, 0, 0.5) solid;
}

.box6 {

    background-color: rgb(238, 145, 145);
    height: 50px;
    border: 1px rgba(0, 0, 0, 0.5) solid;
    margin: 0px;
}
*{
  margin: 0px;
  box-sizing: border-box;
}
