.Titulo {
    text-align: center;
    background-color: rgb(250, 176, 39);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 1px rgb(250, 176, 39) solid;


}

img {
    width: 100px;
    height: 100px;
    margin-top: 15px;
    
}

table {

    border: 2px maroon solid;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;

}

th {
    border: 2px maroon solid;


}

.Productos {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.producto{
    display: inline-block; 
    width: 280px;
    height: 200px;
    border: 2px maroon solid;
    margin: auto;
    border-radius: 4px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      text-align: center;

}